body {
  background-color: white;
  font-family: Sans-Serif;
  grid-template-areas:
    "header main main"
    "footer main main"
    "footer main main";
}
#divmaior{
  width: 50%;
}
.linkheader{
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: lightblue;
  display: inline;
  width: 10%;
  margin: 5px;
  padding: 5px;
}
#corpo{
  width: 97%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}
header {
  background-color: #75BABD;
  padding: 10px;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}


main {
  background-color:#c2e9eb;
  padding-top: 0%;
  padding-right: 30%;
  padding-left: 20%;
}

footer {
  background-color: white;
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0;

}

.o-header {
  grid-area: header;
}

.o-main {
  grid-area: main;
}

.o-footer {
  margin-right: auto;
  margin-left: auto;}

.topo {
  color: white;
  position: relative;
  left: 2%;
}
.botao {
  color: #99CFD1;
}

/*Tamanho do alert*/
      .alert{
        /*padding: 20px;*/
        color: #000000;
        cursor: default;
        width: 100px;
        height: 100px;

      }
/*Botão de fechar*/
      .closebtn{
        margin-right: 15px;
        color: #56a7d6;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;

      }

.formlibras{
  position: absolute;
  bottom: 0%;
}