
body {
  background-color: white;
  font-family: Sans-Serif;
  display: grid;
  grid-template-areas:
    "header main main"
    "footer main main"
    "footer main main";
}
header {
  background-color: #75BABD;
  padding-top: 2%;
  padding-right: 0;
  padding-left: 0;
}


main {
   background-color: #B9E4E6;
  padding-top: 0%;
  padding-right: 30%;
  padding-left: 20%;
}

footer {
  background-color: white;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 0;

}


.o-header {
  grid-area: header;
}

.o-main {
  grid-area: main;
}

.o-footer {
  grid-area: footer;
}

.topo {
  color: white;
  position: relative;
  left: 2%;
}
.botao {
  color: #99CFD1;
}

/*Tamanho do alert*/
      .alert{
        padding: 20px;
        color: #000000;
        cursor: default;
        width: 100px;
        height: 100px;

      }
/*Botão de fechar*/
      .closebtn{
        margin-right: 15px;
        color: #56a7d6;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;

      }

.formlibras{
  position: relative;
  bottom: 2%;
}
